@media (max-width: 767px) {
    .comment-text {
        font-size: 16px;
    }

    .comment-name {
        font-size: 20px;
    }

    .comment,
    .add-form {
        width: 350px;
    }
    .add-form-name {
        width: 250px;
        padding: 11px 22px;
    }
}